*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:thistle;
}
main{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

section{
    margin-block: 1rem;
}

.console{
    padding: 1rem;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    border-radius: 15px;
}

form{
    box-shadow: 2px 2px 2px gray;
    max-width: fit-content;
    padding: 1rem;
}

fieldset{
    padding: 1rem;
}

fieldset > *{
    display: block;
}

form label{
    font-size: 1.2rem;
    font-weight: bold;
    max-width: fit-content;
}

