{% extends 'base.html' %}
{% block body %}

<h2>About our Project: Interactive Blog</h2>

<p>
    <br>
    This project is meant to illustrate creating a functioning blog using Flask from the python library along
    with the accompanying web templating engine, Jinja. On the backend, there are several routes and functions 
    that allows the user to navigate to different pages on the website.
    Users who don't have admin privileges can view posts and the admins are responsible for adding a blog, editing as well
    as deleting a blog for the website.
    <br>
    In addition to coding in python, HTML, CSS and Json were also used to give structure to the webpage and the interactive
    ability.
    <br>
    This website was a group effort and was created by Lori-Ann Nembhard, Eric Brown and Gokul Ram.
    </br>
</p>

{% endblock %}