{% extends 'base.html' %}

{% block body %}
<section class="console">
<h2>Admin Console</h2>
    
<section>
    <form action="/admin" method="POST" class="add-post-form">
        <input type="hidden" name="form_id" value="add_post">
        <fieldset>
        <legend>Add a Post:</legend>
        <label for="title" class="title-label">Title</label>

        <input type="text" name="title" id="title" class="title-input"
               placeholder="Post Title"></input>
        

        <label for="content" class="content-label">Message Content</label>
      
        <textarea name="content" id="content" class="content-input"
                  placeholder="Post Content"
                  rows="15"
                  cols="60"
                  ></textarea>
        <button type="submit" class="submit">Submit</button>
    </fieldset>
    </form>
</section>

<section >
    <h3>Edit or Delete a Post:</h3>
    <section class="admin-posts-list">
    {%for post in posts_list%}
    <section class="blog-post">
        <p>Title: {{post['title']}}</p>
        <p>ID: {{post['id']}}</p>
        <p>{{post['content'][0:100]}}</p>

        <form action="/admin" method="POST">
            <input type="hidden" name="form_id" value="delete_post">
            <input type="hidden" name="title" value ="{{post['title']}}">
            <input type="hidden" name="blog_id" value ="{{post['id']}}">
            <button type="submit">Delete</button>
        </form>
        <form action="/admin" method="POST">
            <input type = "hidden" name ="form_id" value="edit_post">
            <input type = "hidden" name ="title" value="{{post['title']}}">
            <input type = "hidden" name="blog_id" value ="{{post['id']}}">
            <button type="submit">Edit</button>

        </form>
    </section>

{% endfor %}
</section>
</section>

<section>
    <h3>Site Traffic</h3>
    <h4>Total Site Traffic By Page:</h4>
    <img src="{{url_for('static',filename='./images/pie_chart.svg')}}" alt="A pie chart">
</section>
<section>

        <form action='/admin' method='POST'>
            <input type="hidden" name="form_id" value="logout">
            <button  type="submit" name="logout" id="logout">Log Out</button>
        </form>
</section>
</section>
{% endblock %}