{% extends 'base.html' %}

{% block body %}
<form action="/admin" method="POST">
        <label for="title">Title</label>
      
        <input type="text" name="title" id="title"
               placeholder="Message id"
               value="{{ request.form['id'] }}"></input>
        

        <label for="content">Message Content</label>
      
        <textarea name="content" id="content"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>

{% endblock %}