<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<header>
    <h1>Our Blog</h1>
<nav class = "nav-links">
    <div class = "nav-bar">
        <ul>
            <li>
                <a href="#home" class= "nav-bar">Home</a>
                <a href = "#about" class = "nav-bar">About </a>
                <a href = "#articles" class = "nav-bar">Articles</a>
                <a href="#contact" class="nav-links">Contact</a>
            </li>
        </ul>
    </div>
</nav>
</header>
<body>
{% block body %}


{% endblock %} 
</body>
</html>