{% extends 'base.html' %}

{% block body %}
<section id="contact">

    
    
    
    <form name="contactus" method="post" data-netlify="true">
    <fieldset>
    <legend>Contact Form:</legend>
    
        <label for="name">Name:</label>
        <input id= "name" name="name" type="text" required><br>
        <label for = "Email"> Email:</label>
        <input id = name name="email" type="email" required><br>
        <label>Phone Number (Optional):</label>
        <input phone ="phone" type="tel" ><br>
        <label>Phone Type:</label>
        <select name="phone_type">
            <option value="H">Home</option>
            <option value="W">Work</option>
            <option value="C">Cell</option>
        </select><br>
    
        <label>Message:</label>
        <textarea></textarea>
    
        <fieldset>
            <legend>Would you like a reply?</legend>
            <ul>
                <li>
                    <input id= "yes_reply" name ="reply" type="radio" value="yes">
                    <label for = "yes_reply">Yes</label>
                </li>
                
                
                <li><input id="no_reply" name ="reply" type="radio" value="No">
                    <label for = "no_reply">No</label>
                </li>
            </ul>
        </fieldset>
        <input type="submit" value="Send">
    </fieldset>
    
    </form>
    </section>
    
    </main>
{% endblock %}